@charset "utf-8";
/* CSS Document */

@font-face {
font-family: 'Louis George Cafe';
src: url('Louis George Cafe.ttf');
font-weight: normal;
font-style: normal;
}


#Congés{ 
	border-radius:12px 0 12px 0;
	border:none;
	color:#fff;
	font-family: 'Louis George Cafe';
	font-weight: 100;
	padding:6px 0 6px 0;
	background: #4481f1 ;                  
	display : block;
	margin : auto;
		width:50%;
	font-size: 2em;
	margin-top: 100px;

}

#Abscences{
	border-radius:12px 0 12px 0;
	border:none;
	color:#fff;
	font-family: 'Louis George Cafe';
	font-weight: 100;
	padding:6px 0 6px 0;
	background: #d34836 ;                  
	display : block;
	margin : auto;
		width:50%;
	font-size: 2em;

}

#texte {  font-family: 'Louis George Cafe'; 
	font-size: 1.3em;
	display : block;
	text-align: center;
	margin-left: auto;
    margin-right: auto ;
margin-top: 100px;}

#deco  {
	
	border-radius:12px 0 12px 0;
	background: #4481f1;
	border:none;
	color:#fff;
	font:bold 12px Louis George Cafe;
	padding:6px 0 6px 0;
	font-weight: 100;
	width:150px;
	height:30px;
}


